<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>TWS - Teaching Load Details</title>
  <link rel="stylesheet" href="/TWS/css/twsStyle.css" />
</head>
<body class="bg">
  <%- include('../partials/sideMenuBar') %>

  <div class="main">
    <div class="shell">
      <div class="page-title">TWS - Teaching Load Details</div>

      <form class="panel" method="POST" action="/twa/teaching-load/<%= tws.id %>">
        <div class="panel-header">
          <div class="panel-title">My Teaching Workload Sheets</div>
          <button class="btn btn-green" type="submit" name="action" value="save">+ Create New TWS</button>
        </div>

        <div class="table load-table">
          <div class="row head">
            <div>Course Code</div>
            <div>Course Title</div>
            <div>Units</div>
            <div>Lecture Hours</div>
            <div>Lab Hours</div>
            <div>No. of Sections</div>
          </div>

          <% tws.loads.forEach((r, idx) => { %>
            <div class="row">
              <div><input class="cell-input" name="code" value="<%= r.code %>" /></div>
              <div><input class="cell-input" name="title" value="<%= r.title %>" /></div>
              <div><input class="cell-input" name="units" type="number" min="0" value="<%= r.units %>" /></div>
              <div><input class="cell-input" name="lec" type="number" min="0" value="<%= r.lec %>" /></div>
              <div><input class="cell-input" name="lab" type="number" min="0" value="<%= r.lab %>" /></div>
              <div><input class="cell-input" name="sections" type="number" min="1" value="<%= r.sections %>" /></div>
            </div>
          <% }) %>
        </div>

        <div class="mid-actions">
          <button class="btn btn-small" type="submit" name="action" value="addRow">+ Add Row</button>
          <button class="btn btn-small" type="submit" name="action" value="removeRow">Remove Row</button>
        </div>

        <div class="bottom-btns">
          <button class="btn btn-big" type="submit" name="action" value="back">Back</button>
          <button class="btn btn-big" type="submit" name="action" value="save">Save Draft</button>
          <button class="btn btn-big" type="submit" name="action" value="next">Next</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>