<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>TWS - Faculty Information</title>
  <link rel="stylesheet" href="/twa/public/twsStyle.css" />
</head>
<body class="bg">
  <%- include("partials/twsNavBar") %>

  <div class="main">
    <div class="shell">
      <div class="page-title">TWS - Faculty Information</div>

      <form class="panel panel-form" method="POST" action="/twa/faculty/<%= tws.id %>">
        <div class="panel-title">Faculty Information</div>

        <div class="form-grid">
          <label>Faculty Name:</label>
          <input class="bar-input" type="text" name="name" value="<%= tws.faculty.name %>" />

          <label>Employee ID:</label>
          <input class="bar-input" type="text" name="empId" value="<%= tws.faculty.empId %>" />

          <label>Department:</label>
          <input class="bar-input" type="text" name="dept" value="<%= tws.faculty.dept %>" />

          <label>Academic Year:</label>
          <input class="bar-input" type="text" name="acadYear" placeholder="2025 - 2026" value="<%= tws.faculty.acadYear %>" />

          <label>Term:</label>
          <input class="bar-input" type="text" name="term" placeholder="1st / 2nd / 3rd" value="<%= tws.faculty.term %>" />

          <label>Employee Status:</label>
          <input class="bar-input" type="text" name="empStatus" value="<%= tws.faculty.empStatus %>" />
        </div>

        <div class="bottom-btns">
          <a class="btn btn-big" href="/twa/dashboard">Back</a>
          <button class="btn btn-big" type="submit" name="action" value="save">Save Draft</button>
          <button class="btn btn-big" type="submit" name="action" value="next">Next</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>